{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}


<div class="container">
    <div class="row profile-card justify-content-center">
        <!-- User Details Card -->

        <div class="col-md-4 mt-5 mt-md-0">
            <div class="card text-center">

                {% if user.userprofile.image %}
                <img class="card-img-top" src="{{ user.userprofile.image.url }}" alt="Profile image" style="border-radius: 50%; height: 100%;">
                {% else %}
                <img class = "not_available_image" src="{% static 'user/images/symbol.png' %}" alt="Staff Member Image">
                {% endif %}
            </div>
        </div>

        <div class="col-md-7 mt-4 mt-md-0">
            <div class="card">
                <div class="card-header">
                    <h5>Personal Information</h5>
                </div>
                <div class="card-body">
                    <p><strong class = "info-card">First Name:</strong> {{ user.first_name }}</p>
                    <p><strong class = "info-card">Last Name:</strong> {{ user.last_name }}</p>
                    <p><strong class = "info-card">Email:</strong> {{ user.email }}</p>
                    <p><strong class = "info-card">Username:</strong> {{ user.username }}</p>
                    <p><strong class = "info-card">Phone Number:</strong> {{ user.userprofile.phone }}</p>
                    <p><strong class = "info-card">Your points:</strong> {{ user.userprofile.total_score }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">  <!-- Adjust this to change card width -->
            <div class="card">
                <div class="card-header">
                    <h5>Completed Courses</h5>
                </div>
                <div class="card-body">
                    {% for completion in quiz_completions %}
                        <p><strong class="courses-card">Course Title:</strong> {{ completion.course.title }}</p>
                        <p><strong class="courses-card">Score:</strong> {{ completion.score }}</p>
                        <p><strong class="courses-card">Completion Date:</strong> {{ completion.completion_date }}</p>
                        <hr>
                    {% empty %}
                        <p class="text-center">No completed courses yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h5{
        font-weight: bold;
    }
    .info-card{
        color: #57C5B6;
    }
    .courses-card{
        color: #FF6000;
    }
    .container {
        margin-top: 50px;
    }
    .card-body p{
        font-size: 1.2rem;
    }
</style>

{% endblock %}
