.register_button {
  background-color: #3BAF9F;
  display: block;
  margin: 20px auto 0px ;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 14px 110px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
}

.register_button:hover {
  background-color: #483D8B;
}

.register-form{
	width: 70%;
	margin: 0 auto;
	border: 1px solid #ccc;
  	background-color: #f8f8f8;
  	padding: 20px;
  	margin-top: 50px;
}