{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

    <div class="container py-5">
        <div class="accordion" id="courseAccordion">
            {% for course, forms in quiz_forms %}
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingCourse{{ course.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourse{{ course.id }}" aria-expanded="false" aria-controls="collapseCourse{{ course.id }}">
                        Course: <strong>{{ course.title }}</strong>
                    </button>
                </h2>
                <div id="collapseCourse{{ course.id }}" class="accordion-collapse collapse" aria-labelledby="headingCourse{{ course.id }}" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                      {% if forms %}
                        <div class="accordion" id="quizAccordion{{ course.id }}">
                            {% for quiz_form, option_forms in forms %}
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="headingQuiz{{ quiz_form.instance.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuiz{{ quiz_form.instance.id }}" aria-expanded="false" aria-controls="collapseQuiz{{ quiz_form.instance.id }}">
                                        Quiz: {{ quiz_form.instance.question }}
                                    </button>
                                </h2>
                                <div id="collapseQuiz{{ quiz_form.instance.id }}" class="accordion-collapse collapse" aria-labelledby="headingQuiz{{ quiz_form.instance.id }}" data-bs-parent="#quizAccordion{{ course.id }}">
                                    <div class="accordion-body">
                                        <form action="{% url 'edit_quizzes' %}" method="POST" class='form'>
                                            {% csrf_token %}
                                            <input type="hidden" name="{{ quiz_form.instance.pk }}" value="{{ quiz_form.instance.pk }}">

                                            <div class="mb-3 row">
                                                <label class="col-sm-2 col-form-label">Quiz Question</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="quiz-{{ quiz_form.instance.id }}-question" value="{{ quiz_form.instance.question }}" />
                                                </div>
                                            </div>
                                            <hr>
                                            {% for quiz_option_form in option_forms %}
                                                <div class="mb-3 row">
                                                    <label class="col-sm-2 col-form-label">Quiz Answer Option {{ forloop.counter }}</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="option-{{ quiz_option_form.instance.id }}-answer" value="{{ quiz_option_form.instance.answer }}" />
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-sm-10 offset-sm-2">
                                                        <input type="checkbox" name="option-{{ quiz_option_form.instance.id }}-is_correct" value="{{ quiz_option_form.instance.is_correct }}" {% if quiz_option_form.instance.is_correct %}checked{% endif %} /><label for="{{ quiz_option_form.is_correct.id_for_label }}">Correct answer</label>
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endfor %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="quiz-{{quiz_form.instance.id}}-delete">
                                                <label class="form-check-label">Delete this quiz</label>
                                            </div>
                                            <button type="submit" id="save" class="button-style">Save changes</button>
                                            <button type="reset" id="cancel" class="button-style" onclick="location.reload();">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                      {% else %}
                        <p>No quizzes found for this course.</p>
                      {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<style>
.add-option{
    background-color: #FEA1A1;
}
#save{
    background-color: #3BAF9F;
}
#cancel{
    background-color: #19A7CE;
}
.button-style{
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 13px 30px;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion-button{
    font-size: 1.3rem;
}

.col-sm-10, .form-control{
    font-size: 1rem;
}

.form label {
    font-size: 1.3rem;
    color: #7E1717;
}

.form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #F8E8EE;
    padding: 20px;
    margin-top: 50px;
}
.form input, .form textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.1rem;
}
.form textarea{
    max-width: 600px;
    width: 100% !important;
    height: 100px;
}

</style>


{% endblock %}
