{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

    <div class="container py-5">
        <div class="accordion" id="courseAccordion">
            {% for course in courses %}
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingCourse{{ course.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourse{{ course.id }}" aria-expanded="false" aria-controls="collapseCourse{{ course.id }}">
                        Course: <strong>{{ course.title }}</strong>
                    </button>
                </h2>
                <div id="collapseCourse{{ course.id }}" class="accordion-collapse collapse" aria-labelledby="headingCourse{{ course.id }}" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                      {% if course.lesson_set.all %}
                        <div class="accordion" id="lessonAccordion{{ course.id }}">
                            {% for lesson in course.lesson_set.all %}
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="headingLesson{{ lesson.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLesson{{ lesson.id }}" aria-expanded="false" aria-controls="collapseLesson{{ lesson.id }}">
                                        Lesson: {{ lesson.title }}
                                    </button>
                                </h2>
                                <div id="collapseLesson{{ lesson.id }}" class="accordion-collapse collapse" aria-labelledby="headingLesson{{ lesson.id }}" data-bs-parent="#lessonAccordion{{ course.id }}">
                                    <div class="accordion-body">
                                        <form action="{% url 'edit_lessons' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="mb-3 row">
                                                <label class="col-sm-2 col-form-label">Title</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="lesson-{{lesson.id}}-title" value="{{ lesson.title }}">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="mb-3 row">
                                                <label class="col-sm-2 col-form-label">Content</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="lesson-{{lesson.id}}-content" rows="4">{{ lesson.content }}</textarea>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="lesson-{{lesson.id}}-delete">
                                                <label class="form-check-label">
                                                    Delete this lesson
                                                </label>
                                            </div>
                                            <hr>
                                            <button type="submit" id = "save" class="button-style">Save changes</button>
                                            <button type="reset" id = "cancel" class="button-style" onclick="location.reload();">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                      {% else %}
                        <p>No lessons found for this course.</p>
                      {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


<style>
    
.button-style{
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 13px 30px;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#save{
    background-color: #FEA1A1;
}
#cancel{
    background-color: #3BAF9F;
}

.col-form-label{
    color: #FF2171;
    font-weight: bold;
    font-size: 1.2rem;
}

.accordion-button{
    font-size: 1.3rem;
}

.col-sm-10, .form-control{
    font-size: 1rem;
}

</style>

{% endblock %}
