{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

    <div class="container py-5">
        <div class="accordion" id="courseAccordion">
            {% for course in courses %}
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingCourse{{ course.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourse{{ course.id }}" aria-expanded="false" aria-controls="collapseCourse{{ course.id }}">
                        Course: <strong>{{ course.title }}</strong>
                    </button>
                </h2>
                <div id="collapseCourse{{ course.id }}" class="accordion-collapse collapse" aria-labelledby="headingCourse{{ course.id }}" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                      {% if course.quiz_set.all %}
                        <div class="accordion" id="quizAccordion{{ course.id }}">
                            {% for quiz in course.quiz_set.all %}
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="headingQuiz{{ quiz.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuiz{{ quiz.id }}" aria-expanded="false" aria-controls="collapseQuiz{{ quiz.id }}">
                                        Quiz: {{ quiz.question }}
                                    </button>
                                </h2>
                                <div id="collapseQuiz{{ quiz.id }}" class="accordion-collapse collapse" aria-labelledby="headingQuiz{{ quiz.id }}" data-bs-parent="#quizAccordion{{ course.id }}">
                                    <div class="accordion-body">
                                        <form action="{% url 'edit_quizzes' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="mb-3 row">
                                                <label class="col-sm-2 col-form-label">Quiz Question</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="quiz-{{quiz.id}}-question" rows="4">{{ quiz.question }}</textarea>
                                                </div>
                                            </div>
                                            <hr>
                                            {% for option in quiz.quizoption_set.all %}
                                                <div class="mb-3 row">
                                                    <label class="col-sm-2 col-form-label">Quiz Answer Option {{ forloop.counter }}</label>
                                                    <div class="col-sm-10">
                                                        <input type="hidden" name="option-{{option.id}}-id" value="{{ option.id }}">
                                                        <textarea class="form-control" name="option-{{option.id}}-answer" rows="2">{{ option.answer }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-sm-10 offset-sm-2">
                                                        <input type="checkbox" name="option-{{option.id}}-is-correct" id="option-{{option.id}}-is-correct" {% if option.is_correct %}checked{% endif %}>
                                                        <label for="option-{{option.id}}-is-correct">Correct answer</label>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-sm-10 offset-sm-2">
                                                        <input type="checkbox" name="option-{{option.id}}-delete" id="option-{{option.id}}-delete">
                                                        <label for="option-{{option.id}}-delete">Delete this option</label>
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endfor %}
                                           <button type="button" class="add-option button-style" data-quiz-id="{{ quiz.id }}">Add another option</button>
                                            <hr>
                                            <div class="mb-3 row">
                                                <div class="col-sm-2">
                                                    <input type="hidden" name="quiz-{{quiz.id}}-id" value="{{ quiz.id }}">
                                                    <input type="checkbox" name="quiz-{{quiz.id}}-delete" id="quiz-{{quiz.id}}-delete">
                                                    <label for="quiz-{{quiz.id}}-delete">Delete this quiz</label>
                                                </div>
                                            </div>
                                            <button type="submit" id="save" class="button-style">Save changes</button>
                                            <button type="reset" id="cancel" class="button-style" onclick="location.reload();">Cancel</button>
                                        </form>


                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                      {% else %}
                        <p>No quizzes found for this course.</p>
                      {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


<style>
.add-option{
    background-color: #FEA1A1;
}
#save{
    background-color: #3BAF9F;
}
#cancel{
    background-color: #19A7CE;
}
.button-style{
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 13px 30px;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion-button{
    font-size: 1.3rem;
}

.col-sm-10, .form-control{
    font-size: 1rem;
}

</style>

<script>
var newOptionCounter = 0;

document.querySelectorAll('.add-option').forEach(button => {
    button.addEventListener("click", function(event) {
        event.preventDefault();
        
        newOptionCounter++;
        var newOption = document.createElement("div");
        newOption.innerHTML = `
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Quiz Answer Option ${newOptionCounter}</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="new-option-${newOptionCounter}-answer" rows="2"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-10 offset-sm-2">
                <input type="checkbox" name="new-option-${newOptionCounter}-is-correct" id="new-option-${newOptionCounter}-is-correct">
                <label for="new-option-${newOptionCounter}-is-correct">Correct answer</label>
            </div>
        </div>
        `;
        
        var form = this.parentElement;
        form.insertBefore(newOption, this);
    });
});

</script>



{% endblock %}
