{% extends 'base.html' %}

{% block content %}
<h2 class = "text-center">Reported Problems</h2>
<div class = "display-problems">
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
        {% for report in all_reports %}
            <tr>
                <td>{{ report.name }}</td>
                <td>{{ report.email }}</td>
                <td>{{ report.message }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No problems reported yet.</td>
            </tr>
        {% endfor %}
    </table>
</div>

<style>

.text-center{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2.5rem;
    color: #213363;
}    
    
.display-problems{
    width: 75%;
    margin: 0 auto;
    overflow-x: auto;
    margin-top: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

td, th{
    border: 1px solid #ddd;
    padding:8px;
}
th{
    font-size: 1.3rem;
    color: #FF2171;
}
td{
    font-size: 1.2rem;
}

</style>
{% endblock %}
