@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400&display=swap');

/*@media screen and (max-width: 500px) {
  #col-xl-4 {
  	text-align: center !important;
  }
}*/

/**{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Roboto", sans-serif;
  background-color: #FFFDD0; 
}*/

/*h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: rgb(35,35,85);
}*/

/*span{
	font-size: .9rem;
	color: #767373;
}

h6{
	font-size: 1.1rem;
	color: rgb(24, 24, 49);
}
*/
/*navbar*/

/*.navbar-brand img{
	width:20px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left:20px;
}
.nav-link{
	color:black !important;
	font-size: 20px !important;
	padding-right: 20px;
}
.navbar-brand{
	margin-right: 20px !important;
	font-size: 20px !important;
}
.navbar-collapse{
	margin-left: 20px;
}*/